.titulo-login{
    display: flex;
    justify-content: center;
}

.inputs-login{
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    width: 50%;
}

.send-login{
    color: white;
    background-color: #1259c3;
    border-radius: 5px;
    width: 80%;
    margin: 10px;
    text-align: center ;
}

.inputs-center{
    text-align: center;
}