<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name = 'viewport' content = 'width = device-width, initial-scale1.0'>
    <title>Mercado libre</title>
  </head>
  <body>
    <header>
        <div>
            <img src = 'images/logo-mercado-liebre.svg' alt = 'Logo'>
            <div> PONER BARRA DE BUSQUEDA </div>
            <p> Compra en cuotas y sin tarjeta de credito </p>
            <ul>
              <li> Ofertas </li>
              <li> Tiendas oficiales </li>
              <li> Vender </li>
              <li> Ayuda </li>
            </ul>
            <ul>
              <li> Crea tu cuenta </li>
              <li> Ingresa </li>
              <li> Mis compras </li>
            </ul>
          </div>
    </header>
  </body>
</html>